.concept {
    background: linear-gradient(to bottom, $beige 0, $beige 42%, $brown 42%, $brown 100%);
    @include tab {
        background: linear-gradient(to bottom, $beige 0, $beige 32%, $brown 32%, $brown 100%);
    }
    // @include sp {
    //     background: linear-gradient(to bottom,$beige 0, $beige 25%, $brown 25%, $brown 100%);
    // }
}

.concept-img-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    @include sp {
        margin-top: 50px;
    }
    .concept-img:first-child {
        margin-right: 1rem;
        @include sp {
            margin-right: 7px;
        }
    }
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        @include sp {
            object-position: center;
        }
    }
}

.concept-text {
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    @include tab {
        flex-direction: column;
        margin-top: 50px;
    }
    .catch-ja {
        font-size: 4rem;
        letter-spacing: 1.6rem;
        @include tab {
            width: 100%;
            text-align: center;
            text-indent: 1.6rem;
            letter-spacing: 0.72rem;
        }
        @include sp {
            font-size: 1.8rem;
        }
    }
    .text {
        font-size: 1.6rem;
        width: 40%;
        overflow: hidden;
        letter-spacing: 0.16rem;
        @include tab {
            width: 102.5%;
            margin-top: 18px;
        }
    }
}